@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@1,900&family=Poppins:ital,wght@0,400;0,600;1,400&family=WindSong:wght@500&display=swap');

/* Global Scope */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

.info h1 {
    margin: 0;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: #FF9100;
}

.imageSmall div,
.imageSmall img,
.imageBig,
.imageBig img {
    width: 100%;
    z-index: 2;
    position: relative;
}

.text {
    text-align: center;
    color: rgb(255, 255, 255);
}

.pc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob {
    display: none;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .info {
        width: 100vw;
        padding: 0 20vw;
        height: 100%;
        margin: -3rem 0 6rem 0;
    }

    .info h1 {
        /* font-family: 'Bebas Neue', sans-serif; */
        font-family: 'Ubuntu', sans-serif;
        /* font-family: 'Poppins', sans-serif; */
        /* font-family: 'WindSong', cursive; */
        /* font-weight: 1000; */
        font-size: 3rem;
    }

    .imgSec {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 2rem;
        gap: 6rem;
    }

    .imageSmall {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .imageSmall div {
        padding: 3rem;
    }

    .imageBig {
        width: 60%;
    }

    .text {
        font-size: 1.5rem;
    }

    .mob {
        display: none;
    }
    .text span{
        font-weight: bold;
        color:#ffae43
    }
}

@media only screen and (max-width: 768px) {
    .pc {
        display: none;
    }

    .info {
        width: 100%;
        padding: 0 10vw;
        height: 100%;
        margin: 1rem 0 3rem 0;
    }

    .info h1 {
        font-size: 1.5rem;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
    }

    .imageBig {
        margin: 1.5rem 0;
        width: 80%;
        gap: 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .imageSmall {
        margin: 1.5rem 0;
        width: 80%;
        gap: 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .imageSmall div {
        padding: 1rem;
    }

    .text {
        font-size: 1rem;
        font-weight: normal;
        padding: 0 2rem;
        text-align: justify;
    }
    .text span{
        font-weight: bold;
        color:#ffae43
    }

    .mob {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}
