
@media screen and (min-width: 768px) {
    .bg img {
        height: 100%;
        width: 102%;
        margin-left: -1%;
    }

    .bg {
        margin-top: -0.5rem;
        z-index: -1;
        position: relative;
        width: 102%;
        overflow-x: hidden;
        position: relative;
        z-index: 25;
        padding: 0;
        height: auto;
        object-fit: contain;
    }

    .mob {
        display: none;
    }

    .pc {
        display: block;
    }

    /* .watch {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .watch h1 {
        font-family: 'Ubuntu', sans-serif;
        margin: 0;
        font-size: 3rem;
        color: #ffffff;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
    } */

    .info {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5%;
        width: 100%;
    }

    .info h1 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 3.5rem;
        font-weight: bold;
        text-shadow: 0px 0px 2px rgb(255, 255, 255);
        color: #543000;
    }

    .reaper {
        position: absolute;
        width: 65%;
        right: 8%;
        bottom: 39%;
    }

    .reaper .text {
        font-family: 'Ubuntu', sans-serif;
        text-align: justify;
        color: rgb(0, 0, 0);
        display: flex;
        padding: 1.5rem 1.5rem;
        font-size: 1.25rem;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 20px;
    }
}

@media screen and (max-width: 768px) {
    .mob {
        display: block;
    }

    .pc {
        display: none;
    }

    .bg {
        width: 100%;
        position: relative;
        z-index: 0;
        padding: 0;
        height: auto;
    }

    .info {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5%;
        width: 100%;
    }

    .info h1 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        margin: 0;
        font-size: 2rem;
        color: #543000;
    }

    /* .watch {
        position: absolute;
        top: 30%;
        text-align: center;
        width: 100%;
        z-index: 2;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    } */

    .reaper {
        position: absolute;
        width: 75%;
        right: 2%;
        top: 63%;
        bottom: 37%;
    }
    /* .reaper {
        position: absolute;
        width: 75%;
        right: 2%;
        bottom: 15%;
    } */
    .reaper .text {
        font-family: 'Ubuntu', sans-serif;
        text-align: justify;
        color: rgb(0, 0, 0);
        display: flex;
        padding: 0.5rem 0.7rem 0.5rem 0.7rem;
        font-size: 0.65rem;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        /* position: absolute;
        bottom: 0; */
    }

    h1 {
        font-family: 'Ubuntu', sans-serif;
        margin: 0;
        font-size: 3rem;
        color: #272727;
    }
}